In [ ]:
## sample code to access and store data in mysql db
login_info = {
    "host":"host_adress",
    "user":"user_name",
    "password":"very_secret_password", 
    "database":"database_name",
    "port": 3306
    }

from database import login_info
import mysql.connector

conn = mysql.connector.Connect(**login_info)
curs = conn.cursor()

# STORE
curs.execute("""INSERT INTO table_name(row1,row2) VALUES("foo","bar")""")
conn.commit()

# RETRIVE
curs.execute("""SELECT * FROM table_name""")
results = curs.fetchall()
for result in results:
    print(result)

In [75]:
import pandas as pd
Allvariables = pd.read_csv('coreVariables.csv')
# convert df to a list of variables 

#year
#category
#developer-friendly name
#format year.category.developer-friendly name https://collegescorecard.ed.gov/data/documentation/

#adding a . to category
Allvariables.iloc[:,1] = Allvariables.iloc[:,1].astype(str) +'.' 
#concatenating category and developer-friendly name and converting it to a list
var_name = list(Allvariables.iloc[2:,1:3].astype(str).sum(axis=1))
#year
year=2015
#building the query text in required format. -- output looks good to me. only getting 3 variables for now
QueryAPI= str(year)+'.'+(','+str(year)+'.').join(var_name[0:7])
print(QueryAPI)

2015.school.degree_urbanization,2015.school.locale,2015.school.carnegie_basic,2015.admissions.sat_scores.average.overall,2015.student.demographics.race_ethnicity.white,2015.student.demographics.race_ethnicity.black,2015.student.demographics.race_ethnicity.hispanic

In [76]:
#this api call does not work for full query or any modification of the sample -- the formatting looks okay to me. 
api ='https://api.data.gov/ed/collegescorecard/v1/schools.csv?fields=school.name,id,'+ QueryAPI+ '&_per_page=100&page=1&api_key=7EfsgcFY3JfMxQJ7tAW0Cjqamb77iOHPbpdBXTP6'
api2='https://api.data.gov/ed/collegescorecard/v1/schools.csv?fields=school.name,id,2013.aid.median_debt.completers.overall,2013.repayment.1_yr_repayment.completers,2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings&_per_page=100&page=%s&api_key=7EfsgcFY3JfMxQJ7tAW0Cjqamb77iOHPbpdBXTP6' % str(1)

print(api) #this link doesn't work only returns two fields 
print(api2) #this one does -- not sure why
#df = pd.read_csv(api)
#print(df.head())

https://api.data.gov/ed/collegescorecard/v1/schools.csv?fields=school.name,id,2015.school.degree_urbanization,2015.school.locale,2015.school.carnegie_basic,2015.admissions.sat_scores.average.overall,2015.student.demographics.race_ethnicity.white,2015.student.demographics.race_ethnicity.black,2015.student.demographics.race_ethnicity.hispanic&_per_page=100&page=1&api_key=7EfsgcFY3JfMxQJ7tAW0Cjqamb77iOHPbpdBXTP6
https://api.data.gov/ed/collegescorecard/v1/schools.csv?fields=school.name,id,2013.aid.median_debt.completers.overall,2013.repayment.1_yr_repayment.completers,2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings&_per_page=100&page=1&api_key=7EfsgcFY3JfMxQJ7tAW0Cjqamb77iOHPbpdBXTP6

In [71]:
# Loop to get all the data from all pages -- this works but modified queries do not 

n = int(7593/100)+1 #number of total entries / number of enteries per page: 100 is the max. 
allpages =[]

#get all pages
for i in xrange(0, n):
    try:
        print "Downloading Page %d" % (i) 
        api ='https://api.data.gov/ed/collegescorecard/v1/schools.csv?fields=school.name,id,2013.aid.median_debt.completers.overall,2013.repayment.1_yr_repayment.completers,2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings&_per_page=100&page=%s&api_key=7EfsgcFY3JfMxQJ7tAW0Cjqamb77iOHPbpdBXTP6' % str(i)
        df = pd.read_csv(api)
        allpages.append(df)
    except:
        pass

#api = "https://api.data.gov/ed/collegescorecard/v1/schools.csv?school.degrees_awarded.predominant=2,3&_fields=id,school.name,school.city,2015.student.size&api_key=7EfsgcFY3JfMxQJ7tAW0Cjqamb77iOHPbpdBXTP6"
#not sure how to modify API to return more than 20 hits

Downloading Page 0
Downloading Page 1
Downloading Page 2
Downloading Page 3
Downloading Page 4
Downloading Page 5
Downloading Page 6
Downloading Page 7
Downloading Page 8
Downloading Page 9
Downloading Page 10
Downloading Page 11
Downloading Page 12
Downloading Page 13
Downloading Page 14
Downloading Page 15
Downloading Page 16
Downloading Page 17
Downloading Page 18
Downloading Page 19
Downloading Page 20
Downloading Page 21
Downloading Page 22
Downloading Page 23
Downloading Page 24
Downloading Page 25
Downloading Page 26
Downloading Page 27
Downloading Page 28
Downloading Page 29
Downloading Page 30
Downloading Page 31
Downloading Page 32
Downloading Page 33
Downloading Page 34
Downloading Page 35
Downloading Page 36
Downloading Page 37
Downloading Page 38
Downloading Page 39
Downloading Page 40
Downloading Page 41
Downloading Page 42
Downloading Page 43
Downloading Page 44
Downloading Page 45
Downloading Page 46
Downloading Page 47
Downloading Page 48
Downloading Page 49
Downloading Page 50
Downloading Page 51
Downloading Page 52
Downloading Page 53
Downloading Page 54
Downloading Page 55
Downloading Page 56
Downloading Page 57
Downloading Page 58
Downloading Page 59
Downloading Page 60
Downloading Page 61
Downloading Page 62
Downloading Page 63
Downloading Page 64
Downloading Page 65
Downloading Page 66
Downloading Page 67
Downloading Page 68
Downloading Page 69
Downloading Page 70
Downloading Page 71
Downloading Page 72
Downloading Page 73
Downloading Page 74
          id                                        school.name  \
0     412003                 National Institute of Massotherapy
1     443030  NorthShore University HealthSystem School of N...
2     443058               Family of Faith Christian University
3     443076                          Hood Theological Seminary
4     443225                                   PC AGE-Metropark
5     443252              South Florida Institute of Technology
6     443261                  Southeastern Institute-Charleston
7     443270                  Southeastern College-Jacksonville
8     443331                  West Coast University-Los Angeles
9     443340                       Williamson Christian College
10    443359                          Music City Barber College
11    443483      Connecticut Center for Massage Therapy-Groton
12    443641              Paul Mitchell the School-Rhode Island
13    443678                    Empire Beauty School-Framingham
14    443784                    Strayer University-Pennsylvania
15    443979                               PCI Academy-Plymouth
16    444042             National University College-Rio Grande
17    443562                          Dewey University-Hato Rey
18    443571                    InterCoast Colleges-West Covina
19    442602                     Carrington College-Albuquerque
20    442620                           Everest Institute-Tigard
21    442790                             Everest College-Dallas
22    442815                    The Salter School-Malden Campus
23    195702                 Saint Elizabeth College of Nursing
24    422190                  Champion Institute of Cosmetology
25    117955                                    Lu Ross Academy
26    451671       University of South Florida-Sarasota-Manatee
27    104665          Frank Lloyd Wright School of Architecture
28    434937             Yeshiva College of the Nations Capital
29    217749                               Bob Jones University
..       ...                                                ...
70    455895    Tricoci University of Beauty Culture-Bridgeview
71    455910                                 Center for Massage
72    455974                        South Texas Training Center
73    456001                         Advanced Welding Institute
74    456029                   Paul Mitchell the School-Memphis
75    456038                 Pima Medical Institute-East Valley
76    456074                  Paul Mitchell the School-Columbus
77    456205                       Miller-Motte College-Raleigh
78    456214                                   Lamson Institute
79    456287                 College of Hair Design-East Campus
80    456339                       Heritage College-Little Rock
81    456357                   MedTech College-Greenwood Campus
82    456366                    MedTech College-Ft Wayne Campus
83    456375                   MedTech College-Lexington Campus
84    456409                ITT Technical Institute-Springfield
85    456418                 ITT Technical Institute-Huntington
86    456454                      Fortis College-Salt Lake City
87    456515              Ross Medical Education Center-Portage
88    456746          Regency Beauty Institute-Detroit Lakeside
89    456764                 Regency Beauty Institute-Arlington
90    456773                    Regency Beauty Institute-Durham
91    456791                    Brown Mackie College-Greenville
92    456807                       Globe University-Sioux Falls
93    456861                Beauty Schools of America-Homestead
94    457031                               Capri Beauty College
95    457077                        Milan Institute-Bakersfield
96    457086                                  Homestead Schools
97  10722001       Career Academy of Hair Design-Siloam Springs
98  10722002               Career Academy of Hair Design-Rogers
99  11835605                 Marinello School of Beauty-Ontario

    2013.aid.median_debt.completers.overall  \
0                                   12694.0
1                                       NaN
2                                       NaN
3                                       NaN
4                                   13000.0
5                                    1441.0
6                                    9500.0
7                                   14250.0
8                                   33000.0
9                                       NaN
10                                  14564.0
11                                   7600.0
12                                  10556.0
13                                   9897.0
14                                  34120.0
15                                  11670.5
16                                   7000.0
17                                      NaN
18                                  11945.0
19                                   9500.0
20                                   9500.0
21                                   9500.0
22                                   8222.0
23                                  17500.0
24                                   4864.0
25                                   8310.5
26                                  18750.0
27                                      NaN
28                                      NaN
29                                  18000.0
..                                      ...
70                                  11435.0
71                                      NaN
72                                   3494.5
73                                      NaN
74                                   9833.0
75                                   8708.0
76                                  13514.0
77                                  19174.0
78                                   8023.0
79                                  14499.0
80                                  15333.0
81                                  20000.0
82                                  20000.0
83                                  20000.0
84                                  24975.5
85                                  24975.5
86                                  17846.0
87                                   9500.0
88                                  14144.0
89                                  14144.0
90                                  14144.0
91                                  20921.0
92                                  25500.0
93                                   9500.0
94                                   9844.0
95                                   9500.0
96                                  17072.0
97                                   9677.5
98                                   9677.5
99                                  10295.0

    2013.repayment.1_yr_repayment.completers
0                                       43.0
1                                        NaN
2                                        NaN
3                                        NaN
4                                      176.0
5                                      201.0
6                                      327.0
7                                      172.0
8                                     1289.0
9                                       19.0
10                                      89.0
11                                     416.0
12                                     400.0
13                                     197.0
14                                    3353.0
15                                     191.0
16                                     481.0
17                                       NaN
18                                    1940.0
19                                    3966.0
20                                     871.0
21                                    2183.0
22                                    2360.0
23                                     148.0
24                                      25.0
25                                     177.0
26                                    7709.0
27                                       NaN
28                                       NaN
29                                     444.0
..                                       ...
70                                     152.0
71                                      18.0
72                                     122.0
73                                       NaN
74                                     127.0
75                                    7819.0
76                                     139.0
77                                    2009.0
78                                    1135.0
79                                     220.0
80                                    1221.0
81                                    1814.0
82                                    1814.0
83                                    1814.0
84                                   27039.0
85                                   27039.0
86                                     904.0
87                                    1940.0
88                                    6732.0
89                                    6732.0
90                                    6732.0
91                                   10590.0
92                                    1599.0
93                                    2438.0
94                                     201.0
95                                    1656.0
96                                     262.0
97                                     140.0
98                                     140.0
99                                    2682.0

[100 rows x 4 columns]

In [74]:
alldf = pd.concat(allpages)
print(alldf.shape)

(7500, 5)

In [ ]:
import glob
csv_files = glob.glob("./AllYears/*.csv") 
list_data = []
for filename in csv_files:
    data = pd.read_csv(filename,low_memory=False,na_values=-2)
    data['filename'] = filename
    list_data.append(data)
allyears_df = pd.concat(list_data)

In [ ]:
print(allyears_df.head())

In [ ]:
files = list(allyears_df['filename'])
year_range = []
r = re.compile("https?:\/\/*")

for i in xrange( 0, len(textlist)):
	urlList.append([x for x in textlist[i].split("\n") if r.match(x)])
    
import re
>>> re.findall(r'\d+', 'hello 42 I\'m a 32 string 30')
['42', '32', '30']

In [ ]:
import pandas as pd
# read in the 2015 data for now (I may later concatenate all years into a single dataframe)
filepath ='./CollegeScorecard_Raw_Data/MERGED2014_15_PP.csv'
AllData_2015 = pd.read_csv(filepath, low_memory=False,na_values=-2)
#reading in a text with only variables of interest 
Allvariables = pd.read_csv('coreVariables.csv')
# convert df to a list of variables 
variables = list(Allvariables.iloc[:,5])
#removing all extreneous columns and only keeping 'variables'
Relevant_data_2015 = AllData_2015.loc[:,variables]
#changing the column names to names that are a little more intuitive to read 
Relevant_data_2015.columns = list(Allvariables['my_classification'])

In [ ]:
print(Relevant_data_2015.shape) #number of records
#make sure all numeric columns are numeric
print(Relevant_data_2015.info())

In [ ]:
#the following columns should be ints but they are not so look at values and replace strings with NANs
#avg_family_income_dependent
#avg_family_income_independent
#loan_principal
#print(Relevant_data_2015['loan_principal'].value_counts(dropna=False))

#print(Relevant_data_2015['avg_family_income_independent'].value_counts(dropna=False))
#print(Relevant_data_2015['avg_family_income_dependent'].value_counts(dropna=False))
# In all three need to replace PrivacySuppressed with NANS

#not sure how to convert to ints after

Relevant_data_2015.loan_principal.replace('PrivacySuppressed',None,inplace=True)
Relevant_data_2015.avg_family_income_independent.replace('PrivacySuppressed',None,inplace=True)
Relevant_data_2015.avg_family_income_dependent.replace('PrivacySuppressed',None,inplace=True)

Relevant_data_2015['loan_principal'] = Relevant_data_2015['loan_principal'].astype(float)
Relevant_data_2015['avg_family_income_independent'] = Relevant_data_2015['avg_family_income_independent'].astype(float)
Relevant_data_2015['avg_family_income_dependent'] = Relevant_data_2015['avg_family_income_dependent'].astype(float)
#Relevant_data_2015['loan_principal'].astype(int)

#Alternative option
#Relevant_data_2015['loan_principal'] = pd.to_numeric(Relevant_data_2015['loan_principal'],errors='coerce')

In [ ]:
## Carnegie school type classification
carnegie = pd.read_csv('Carnegie_notations.csv', header=None)
carnegie_dict =dict(carnegie.values)
Relevant_data_2015["carnegie_basic"].replace(carnegie_dict, inplace=True)
print(Relevant_data_2015.carnegie_basic.value_counts(dropna=False))
# almost a thrid of the colleges are not classified

In [ ]:
## Carnegie undergrad classification
carnegie_ug = pd.read_csv('Carnegie_undergrad.csv', header=None)
carnegie_ug_dict =dict(carnegie_ug.values)
Relevant_data_2015["carnegie_undergrad"].replace(carnegie_ug_dict, inplace=True)
print(Relevant_data_2015.carnegie_undergrad.value_counts(dropna=False))
# almost a thrid of the colleges are not classified 
#remove all the graduate professional only colleges?

In [ ]:
## Carnegie size classification
carnegie_sz = pd.read_csv('Carnegie_size.csv', header=None)
carnegie_sz_dict =dict(carnegie_sz.values)
Relevant_data_2015["carnegie_size_setting"].replace(carnegie_sz_dict, inplace=True)
print(Relevant_data_2015.carnegie_size_setting.value_counts(dropna=False))
# almost a thrid of the colleges are not classified

In [ ]:
## Urbanization classification
print(Relevant_data_2015.degree_urbanization.value_counts(dropna=False))
# almost a thrid of the colleges are not classified 
# this columnn is non-existance do remove from df 
Relevant_data_2015.drop('degree_urbanization', axis=1, inplace=True)

In [ ]:
## Locale classification
locale = pd.read_csv('urbanization.csv', header=None)
locale_dict =dict(locale.values)
Relevant_data_2015["locale"].replace(locale_dict, inplace=True)
#replace -3 with -2
Relevant_data_2015.locale.replace(-3,None,inplace=True)

print(Relevant_data_2015.locale.value_counts(dropna=False))
# almost a thrid of the colleges are not classified 
# this columnn is non-existance do remove from df

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline  
# Plot the histogram
Relevant_data_2015.hist(figsize=(18, 18))
# Display the histogram
plt.show()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline  
# Plot the histogram
Relevant_data_2015.boxplot(column='admission_rate.overall', by='carnegie_size_setting', rot=90, figsize=(18, 6))
Relevant_data_2015.boxplot(column='tuition.in_state', by='carnegie_size_setting', rot=90, figsize=(18, 6))
Relevant_data_2015.boxplot(column='retention_rate.four_year.full_time', by='carnegie_size_setting', rot=90, figsize=(18, 6))
Relevant_data_2015.boxplot(column='loan_principal', by='carnegie_size_setting', rot=90, figsize=(18, 6))
Relevant_data_2015.boxplot(column='prop_white', by='carnegie_size_setting', rot=90, figsize=(18, 6))


#
# Display the histogram
plt.show()

In [ ]:
%matplotlib inline  
# Plot the histogram
Relevant_data_2015.boxplot(column='admission_rate.overall', by='locale', rot=90, figsize=(18, 6))
Relevant_data_2015.boxplot(column='tuition.in_state', by='locale', rot=90, figsize=(18, 6))
Relevant_data_2015.boxplot(column='retention_rate.four_year.full_time', by='locale', rot=90, figsize=(18, 6))
Relevant_data_2015.boxplot(column='loan_principal', by='locale', rot=90, figsize=(18, 6))
Relevant_data_2015.boxplot(column='prop_white', by='locale', rot=90, figsize=(18, 6))


#
# Display the histogram
plt.show()

In [ ]:

%matplotlib inline  
Relevant_data_2015.plot(kind='scatter', x='admission_rate.overall', y='tuition.in_state', rot=70)
Relevant_data_2015.plot(kind='scatter', x='federal_loan_rate', y='tuition.in_state', rot=70)
Relevant_data_2015.plot(kind='scatter', x='loan_principal', y='tuition.in_state', rot=70)
Relevant_data_2015.plot(kind='scatter', x='avg_family_income_dependent', y='tuition.in_state', rot=70)
Relevant_data_2015.plot(kind='scatter', x='avg_family_income_dependent', y='sat_scores', rot=70)
Relevant_data_2015.plot(kind='scatter', x='sat_scores', y='loan_principal', rot=70)

plt.show()